body {
  margin: 0.5rem;
}

/* Header */
#header {
  padding: 2rem;
  color: #fff;
  text-align: center;
  background-color: #e60000;
  border-radius: 1rem;
}
#header > h1 {
  font-family: Impact;
  text-shadow: 2px 2px #000;
}

#header-navegation {
  padding-top: 0.2rem;
}

/* Footer */
#footer {
  padding: 1rem;
  margin-top: 1rem;
  color: #fff;
  background-color: #e60000;
  border-radius: 1rem;
}
#footer h3 {
  text-align: center;
}

#footer-left > p,
#footer-right > p {
  text-align: justify;
}

#footer-right {
  padding-top: 0.25rem;
}
#social-media {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}
#social-media > a {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

/* Estilização dos "botões" "Sobre" e  "Topo" */
#header-navegation > a,
#footer-return {
  color: #fff;
  text-align: right;
}

/* Responsividade para tela de Tablet */
@media (min-width: 768px) {
  #footer {
    display: flex;
    justify-content: space-around;
  }
  #footer-left,
  #footer-right {
    width: 47%;
  }
  #footer-right {
    padding-top: 0rem;
  }
}
