body {
  margin: 0.5rem;
}

/* Header */
#header {
  background-color: red;
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}
#header > h1 {
  font-family: Impact;
}

#header-navegation {
  padding-top: 0.2rem;
}

/* Footer */
#footer {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: red;
  color: #fff;
}

#footer h3 {
  text-align: center;
}
#footer-left > p,
#footer-right > p {
  text-align: justify;
}

#social-media {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
}
#social-media > a {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

#footer-right {
  padding-top: 0.25rem;
}

#header-navegation > a,
#footer-return {
  text-align: right;
  color: #fff;
}

@media (min-width: 768px) {
  #footer {
    display: flex;
    justify-content: space-around;
  }
  #footer-left,
  #footer-right {
    width: 47%;
  }
  #footer-right {
    padding-top: 0rem;
  }
}
