@import "default.css";

html {
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: darkgray;
}

/* Container geral dos produtos */
#products {
  padding-top: 0.5rem;
}

/* Container das categorias dos produtos */
.products-section {
  padding-bottom: 0.5rem;
}

.products-section > h2 {
  text-align: center;
  text-decoration-line: underline;
}

/* Estilização do Produto */
.product {
  display: flex;
  flex-direction: row-reverse;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border: 5px double white;
  border-radius: 1rem;
}
.product:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px #333;
}
.border-green {
  border-color: green;
}

/* Estilização do Conteúdo do Produto */
.product-img,
.product-description {
  width: 47%;
}
img {
  width: 100%;
  border-radius: 0.5rem;
}
.product-description > h4 {
  text-align: center;
}
.product-description > p {
  text-align: justify;
}

/* Botão Finalizar Combo */
#send {
  display: flex;
  justify-content: center;
}
#btn-send {
  padding: 0.5rem 1rem;
  font-size: 14px;
  color: #fff;
  background-color: #e60000;
  border: 2px solid #000;
  border-radius: 1rem;
}
#btn-send:hover {
  cursor: pointer;
}
#btn-send:active {
  color: #e60000;
  background-color: #fff;
}

/* Responsividade para tela de Tablet */
@media (min-width: 768px) {
  .products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .products-section > h2 {
    width: 100%;
  }
  .product {
    width: 46%;
  }
}

/* Responsividade para tela de Computador */
@media (min-width: 1024px) {
  #products {
    display: flex;
    justify-content: space-around;
  }
  .products-section {
    display: block;
    width: 32%;
    padding-bottom: 0rem;
  }
  .product {
    width: 95%;
    height: 200px;
  }
  #btn-send {
    padding: 0.5rem 2rem;
    margin: 1rem 0 0.5rem 0;
    font-size: 16px;
  }
}
