@import "default.css";

html {
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: darkgray;
}

#products {
  padding-top: 0.5rem;
}

.products-section {
  padding-bottom: 0.5rem;
}

.products-section > h2 {
  text-align: center;
  text-decoration-line: underline;
}

.product {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  border: 2px solid white;
}
.border-green {
  border-color: green;
}

.product-img,
.product-description {
  width: 47%;
}
img {
  width: 100%;
  border-radius: 0.5rem;
}
.product-description > h4 {
  text-align: center;
}
.product-description > p {
  text-align: justify;
}

#send {
  display: flex;
  justify-content: center;
}
#btn-send {
  padding: 0.5rem 1rem;
  border-color: #000;
  border-radius: 1rem;
  background-color: red;
  color: #fff;
  font-size: 14px;
}
#btn-send:hover {
  cursor: pointer;
}
#btn-send:active {
  background-color: #fff;
  color: red;
}

@media (min-width: 768px) {
  .products-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .products-section > h2 {
    width: 100%;
  }
  .product {
    width: 47%;
  }
}

@media (min-width: 1024px) {
  #products {
    display: flex;
    justify-content: space-around;
  }
  .products-section {
    width: 32%;
    display: block;
    padding-bottom: 0rem;
  }
  .product {
    width: 95%;
    height: 200px;
  }
  #btn-send {
    margin: 1rem 0 0.5rem 0;
    padding: 0.5rem 2rem;
    font-size: 16px;
  }
}
